<section class="register">
  <div class="register__container">
    <div class="register__title-container">
      <h2 class="register__title">Sign Up</h2>
      <div>
        <a [routerLink]="['/login']" class="register__link">Have an account?</a>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="register__form">
      <mat-form-field appearance="fill">
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <button type="submit" mat-button class="register__button">Sign Up</button>
    </form>
  </div>
</section>
