<div class="settings-panel">
  <section class="setting-panel__filters setting-panel__section">
    <h3 class="settings-panel__title">Filters</h3>
    <span class="setting-panel__span">By Answer</span>
    <div class="setting-panel__buttons">
      <button mat-stroked-button>Answered questions</button>
      <button mat-stroked-button>Not answered questions</button>
    </div>
    <span class="setting-panel__span">By Tag</span>
    <div class="setting-panel__buttons">
      <button mat-stroked-button>Answered questions</button>
      <button mat-stroked-button>Not answered questions</button>
    </div>
    <span class="setting-panel__span">By Date</span>
    <div class="setting-panel__buttons">
      <button mat-stroked-button>Last day</button>
      <button mat-stroked-button>Week</button>
      <button mat-stroked-button>Month</button>
      <button mat-stroked-button>All time</button>
    </section>

    <section class="setting-panel__sort setting-panel__section">
      <h3 class="settings-panel__title">Sort</h3>
      <span class="setting-panel__span">By Date</span>
      <div class="setting-panel__buttons">
        <button mat-stroked-button>Asc</button>
        <button mat-stroked-button>Desc</button>
      </div>
    </section>

    <section class="setting-panel__filters setting-panel__section">
      <h3 class="settings-panel__title">Settings</h3>
      <span class="setting-panel__span">By Display</span>
      <div class="setting-panel__buttons">
        <button mat-stroked-button>Line</button>
        <button mat-stroked-button>Tile</button>
      </div>
      <span class="setting-panel__span">By Theme</span>
      <div class="setting-panel__buttons">
        <button mat-stroked-button>Night</button>
        <button mat-stroked-button>Day</button>
      </div>
    </section>

</div>
