.question {
  width: 70vw;

  &__back-button {
    min-width: 32px;
    height: 32px;
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__container {
    display: flex;
    height: 460px;
    // @include tablet {
    //   width: 500px;
    //   flex-direction: column;
    //   box-shadow: none;
    // }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    padding: 35px;
  }
  &__item-title {
    font-size: 24px;
    font-weight: 700;
  }
  &__info-content {
    display: flex;
    margin-bottom: 20px;
  }
  &__date {
    align-self: end;
    font-size: 10px;
    font-weight: 400;
    width: 200px;
    color: yellow;
  }
  &__description-title {
    font-size: 14px;
    font-weight: 400;
  }

  &__description-text {
    height: 180px;
    width: 100%;
    font-size: 12px;
    overflow-y: hidden;
    margin-bottom: 20px;
    color: yellow;
  }
}
