@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.question {
  width: 70vw;

  &__container {
    display: flex;
    min-height: 460px;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      border-bottom: 1px solid $dark-font-color;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }

  &__info-about {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 200;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 700;
  }

  &__info-content {
    display: flex;
    flex-direction: column;
    color: $dark-color;
  }

  &__description-text {
    height: 180px;
    width: 100%;
    font-size: 12px;
    overflow-y: hidden;
    margin-bottom: 20px;
    color: $add-color;
  }

  &__info-manage {
    color: $dark-color;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    color: $dark-font-color;
    padding: 5px;
  }

  &__comments-item {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 20px;
    background-color: #fcf6f6;
    justify-content: space-between;
  }

  &__comments-title {
    color: $dark-color;
    font-size: 20px;
    margin-top: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $dark-font-color;
    @include smart {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;

      & > * {
        margin-top: 10px;
      }
    }
  }

  &__comments-info {
    display: flex;
    justify-content: space-between;
    font-size: 10px;

    &-content {
      width: 70%;
      display: flex;
      justify-content: space-around;
      @include smart {
        flex-direction: column;
      }
    }
  }

  &__tags {
    margin-top: 6px;
  }

  &__links {
    display: flex;
  }

  &__button {
    margin: 5px;
    color: $dark-font-color;
  }
}
