<section class="question">
  <!-- <button class="question__back-button" (click)="goToPreviousPage()"><</button> -->
  <div class="question__container">
    <!-- <mc-loading *ngIf="isLoading$ | async"></mc-loading>
    <mc-error-message *ngIf="error$ | async"></mc-error-message> -->
    <div class="question__info-content">
      <div class="question__info-about">
        <p class="question__date">
          Created at: {{ question?.date | date : 'fullDate' }}
        </p>
        <p class="question__date">Author:</p>
      </div>
      <h4 class="question__item-title">{{ question?.title }}</h4>
    </div>
    <div class="question__description-content">
      <div class="question__description-text">{{ question?.body }}</div>
    </div>
    <div class="question__info-manage">
      <div class="question__tags">
        Tags:
        <span *ngFor="let tag of question?.tags"> #{{ tag }} </span>
      </div>
      <div class="question__buttons">
        <!-- <button class="question__button">Approve</button>
        <button class="question__button">Delete</button> -->
        <a
          [routerLink]="['/questions', question?.slug, 'edit']"
          class="question__link"
        >
          Edit question
        </a>
        <div class="question__link" (click)="toggleComment()">Comment</div>
      </div>
      <app-comment-form
        *ngIf="this.questionService.isOpenComment"
        (commentSubmit)="onSubmit($event)"
        [question]="question"
        [isSubmitting]="isSubmitting$ | async"
      ></app-comment-form>
    </div>
  </div>
</section>
