@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.question {
  width: 70vw;

  &__back-button {
    min-width: 32px;
    height: 32px;
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__container {
    display: flex;
    height: 460px;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      border-bottom: 1px solid $dark-font-color;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    // @include tablet {
    //   width: 500px;
    //   flex-direction: column;
    //   box-shadow: none;
    // }
  }

  &__info-about {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 200;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 700;
  }

  &__info-content {
    display: flex;
    flex-direction: column;
    color: $dark-color;
  }

  &__description-text {
    height: 180px;
    width: 100%;
    font-size: 12px;
    overflow-y: hidden;
    margin-bottom: 20px;
    color: $add-color;
  }

  &__info-manage {
    color: $dark-color;
  }
}
