@import 'src/styles/_variables';
@import 'src/styles/_mixins.scss';

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  height: 100px;
  align-content: space-around;
  justify-content: flex-start;
  @include smart {
    height: 150px;
  }

  &__link {
    border: 1px solid $dark-font-color;
    margin: 5px 3px;
    padding: 10px;
    color: $dark-color;
    text-decoration: none;

    &:hover {
      background-color: $bright-color;
      opacity: 0.8;
    }

    &:active {
      background-color: red;
    }
  }
}
