@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.header {
  width: 100%;
  height: 80px;
  text-decoration: none;

  &__nav {
    padding: 20px 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include smart {
      flex-direction: column;
    }
  }

  &__list {
    @include smart {
      justify-content: center;
    }
  }

  &__toolbar {
    @include smart {
      min-height: 128px;
    }
  }

  & .header__toolbar-row_onscroll {
    transform: scaleY(1.1);

    @include smart {
      flex-direction: column;
    }
  }

  & .header__toolbar-row {
    @include smart {
      flex-direction: column;
    }
  }

  &__title-link {
    align-self: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
  }

  &__link {
    text-decoration: none;
    color: $dark-font-color;
    transition: all 0.5s ease-out;

    &:hover {
      color: $add-color;
      opacity: 0.8;
    }
  }

  &__menu {
    &_large {
      width: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }

    @include min-tablet {
      display: none;
    }
  }

  &__burger {
    cursor: pointer;
    padding-right: 30px;
  }

  &__button {
    margin: 0 10px;

    &_large {
      width: 100%;
      padding: 0;
      text-align: left;
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__toolbar-row {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    width: 70px;

    &_large {
      width: 100%;
      text-align: left;
    }
  }
}
