<section class="user-profile">
  <mat-card *ngIf="userProfile">
    <mat-card-header>
      <mat-card-title
        >Name:
        <p class="user-profile__p">
          {{ userProfile.displayName }}
        </p></mat-card-title
      >
      <mat-card-title
        >E-mail:
        <p class="user-profile__p">{{ userProfile.email }}</p></mat-card-title
      >
      <mat-card-title
        >Is Admin:
        <p class="user-profile__p">{{ userProfile.uid }}</p></mat-card-title
      >
    </mat-card-header>
  </mat-card>
</section>
