<div [ngClass]="this.settingsService.allQuestions">
  <app-add-button></app-add-button>
  <section
    class="all-questions__section"
    *ngFor="
      let question of allQuestions$
        | async
        | isAnswered : this.settingsService.isAnswered
        | filterByDate : this.settingsService.filterByDate
        | filterByTag : this.settingsService.filterByTag
        | sortByDate : this.settingsService.sortByDate
    "
  >
    <a [routerLink]="['/questions', question.slug]" class="all-questions__link">
      <div [ngClass]="this.settingsService.allQuestionsItem">
        <h2 class="all-questions__item-title">
          <span class="all-questions__item-title-name"> Question: </span>
          {{ question.title }}
        </h2>
        <p class="all-questions__item-body">{{ question.body }}</p>
        <div [ngClass]="this.settingsService.allQuestionsItemInfo">
          <span>Date: {{ question.date | date : 'medium' }} </span>
          <span>Comments: {{ question.comments?.length }} </span>
          <span
            >Tags:
            <span *ngFor="let tag of question.tags"> #{{ tag }} </span>
          </span>
        </div>
      </div>
    </a>
  </section>
</div>
