@import 'src/styles/_variables';

.comment-form {
  transition: all 0.5s ease-out;
  background-color: $add-color;

  &__tags-list {
    list-style: none;
  }

  &__form-group {
    border: none;
  }
}
